/* 表单校验错误时表单域边框高亮显示 */
.dvValidFailed {
	border: 1px solid #f7d1d2;
}

/* 校验错误信息 */
.inputErrorInfo {
	line-height: 16px;
}

.inputErrorInfoDiv {
	background: url(../images/validate.png) no-repeat;
	width: 16px;
	height: 20px;
	float: left;
}

.inputErrorInfoSpan {
	font-family: '宋体';
	color: #333333;
	font-size: 12px;
	background: #f7d1d2;
	line-height: 16px;
	display: -moz-inline-box;
	display: inline-block;
	margin-bottom: 10px;
}
/* 必填标识 */
.required_red {
	color: red;
}

/*Tooltips*/
.tooltips_box,.tooltips,.tooltips_msg {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	border-style: solid;
	border-color: #FF1F1F;
}

.tooltips,.tooltips_msg {
	border-width: 0 1px;
	*left: -2px;
	background-color: #FFCFCF;
}

.tooltips_box {
	border-width: 1px;
	line-height: 1.5;
}

.tooltips {
	margin: 0 -2px;
}

.tooltips_msg {
	margin: 1px -2px;
	padding: 0 6px;
	color: #2F2C2C;
	text-shadow: 0 1px 0 #FFFFFF;
	font-size: 12px;
}

.tooltips_ov {
	background: url('../images/tri.gif') no-repeat scroll 0 0 transparent;
	position: absolute;
	left: 30%;
	overflow: hidden;
	width: 15px;
	height: 15px;
	margin: 16px 0 0 0;
	display: inline;
}